[Desktop Entry]
Type=Application
Comment=Domopin 
Name=Stop_Domopin
Exec=tmux kill-server
Icon=/home/pi/Pictures/stop_icon.png
Terminal=true
Categories=Utility
StartupNotify=false
